asgiref==3.6.0
certifi==2023.5.7
charset-normalizer==3.1.0
dj-database-url==2.0.0
dj-email-url==1.0.6
Django==4.2.1
django-bootstrap-icons==0.8.3
django-bootstrap5==23.1
django-cache-url==3.4.4
environs==9.5.0
gunicorn==20.1.0
idna==3.4
marshmallow==3.19.0
packaging==23.1
Pillow==9.5.0
psycopg2-binary==2.9.6
python-dotenv==1.0.0
requests==2.30.0
sqlparse==0.4.4
typing_extensions==4.6.2
tzdata==2023.3
urllib3==2.0.2
whitenoise==6.4.0
