{% extends '_base.html' %}

{% block content %}
<div id="contact-margin" class="container">
  <h4 class="text-center">Página de Contacto</h4>
  <div>
    <p class="text-center text-2s">Si por alguna otra razón quiere contactarnos, nuestro correo esta siempre a
      disposición: <a id="contact-links" class="text-2s" href="mailto:horizonte.estates@gmail.com"
        target="_blank">inmobiliaria@gmail.com</a></p>
  </div>
  <hr>
  <p class="text-center text-2s">Los siguientes formularios necesitan que inicie sesión en su cuenta de Google, para que
    pueda cargar imagenes.</p>
  <p class="text-center text-2s">Si no tiene una cuenta de Google puede crear una desde aqui: <a id="contact-links"
      href="https://www.google.com/intl/es/account/about/" target="_blank">Google</a></p>
  <div class="row g-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Publicar Propiedad</h5>
          <p class="card-text text-center text-2s">Complete este formulario para enviarnos todos los detalles de su
            propiedad y
            sus datos de
            contacto.</p>
          <ul class="list-group list-group-flush">
            <a class="btn" href="https://forms.gle/MA17AoFeA5fKnXFk6" target="_blank">Formulario</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Ofrecer Publicidad</h5>
          <p class="card-text text-center text-2s">Envienos todos sus datos de contacto y cuentenos sobre lo que quiere
            publicitar en
            nuestra página.</p>
          <ul class="list-group list-group-flush">
            <a class="btn" href="https://forms.gle/g3s2xQ4XMoPgPn4y6" target="_blank">Formulario</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}