{% extends '_base.html' %}


{% block content %}
<div id="main-margin" class="container text-center py-3">
  <h1 class="display-4">Bienvenido a Nombre de Inmobiliaria.</h1>
  <p class="lead">El lugar para encontrar las mejores propiedades en Alquiler y Venta.</p>
</div>
<section class="mx-4 mb-3 row flex-wrap row-cols-1 row-cols-md-2 gy-3">
  <div class="col">
    <div id="index-cards" class="card shadow">
      <div class="card-body">
        <h2 class="card-title text-center">Encontra tu siguiente Hogar</h2>
        <p class="card-text text-center text-2s">Descubre una variedad de propiedades que se adaptan a tus necesidades.
          Nuestra
          plataforma
          conecta a propietarios, inquilinos y compradores de manera efectiva, ofreciendo una experiencia fácil y
          confiable.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div id="index-cards" class="card shadow">
      <div class="card-body">
        <h2 class="card-title text-center">Publicita tu negocio</h2>
        <p class="card-text text-center text-2s">Tambíen tenemos oportunidades de publicidad para impulsar tu negocio
          relacionado con el
          sector inmobiliario.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div id="index-cards" class="card shadow">
      <div class="card-body">
        <h2 class="card-title text-center">Publica tu Propiedad</h2>
        <p class="card-text text-center text-2s">¿Tienes una propiedad que deseas alquilar o vender? ¡Nos encantaría
          ayudarte!
          Utiliza
          nuestro formulario para ponerte en contacto con nosotros y brindarnos los detalles de tu
          propiedad. Estamos aquí para escucharte, responder a tus preguntas y trabajar contigo para encontrar el
          mejor enfoque para promover tu propiedad.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div id="index-cards" class="card shadow">
      <div class="card-body">
        <h2 class="card-title text-center">Destacá tu Propiedad</h2>
        <p class="card-text text-center text-2s">¿Queres que tu propiedad se destaque sobre el resto? Te ofrecemos
          opciones
          para
          destacar tu propiedad y maximizar su visibilidad. Destacar tu propiedad te brinda la
          oportunidad de llegar a una audiencia más amplia y aumentar tus posibilidades de éxito en el mercado
          inmobiliario.</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}